{% extends "alumnos/plantilla_base.html" %}

{% block style_block %}

<style>
  table.coder-table {
    border:3px solid;
  }
  th,
  td {
    border:1px solid;
    padding:5px 10px;
  }
</style>
{% endblock style_block %}

{% block contenido_base %}

{% for msg in messages %}

{{msg}}

{% endfor %}
<i>
  <u>
  <h1>Materias de la carrera: Soporte de Infraestructura</h1>
  </u>
  <br>
  </i>
  


<a href="{% url 'curso_formulario' %}" class="btn btn-primary"> Carga tu materia aqui!!! </a>
<br>
<br>
<a href="{% url 'busqueda2' %}" class="btn btn-primary" > Busca tu materia aqui!!! </a>
<br>
<br>

<table class="ubi-table2">
    <tbody>
      <tr>
        <th>
          <strong>Materias de la carrera:</strong>
        </th>
        <th>
          <strong>Número de materia:</strong>
        </th>
      </tr>
      {% for curso in curso %} 
      <tr>
        <td>{{curso.nombre}}</td>
        <td>{{curso.comision}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>




{% endblock contenido_base %}